discord==1.0.1
discord.py==1.7.1
Django==3.1.7
dukpy==0.2.3
emoji==1.2.0
flatbuffers==1.12
future==0.18.2
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
oauthlib==3.1.0
PySocks==1.7.1
requests